body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    box-sizing: border-box;
    overflow: none;
}
.info-detail-motel{
    /* position: absolute;
    top:0;
    left: 0; */
    min-width: 1366px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    z-index: 150;
}
.info-motel{
    width: 85%;
    min-height: 150px;
    height: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.info-motel  .info-address{
    width: 70%;
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-address h1{
    font-size: 26px;
    font-weight: 700;
    font-family: roboto,sans-serif;
    color: #2d4271;
    line-height: 32px;
}
.info-motel .info-price{
    height: 150px;
    padding: 0 20px 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-price span{
    font-size: 30px;
    font-weight: 700;
    color: #fd5056;
    line-height: 28px;
}
.info-price span i{
    font-style: italic;
    font-size: 20px;
    color: #505153;
}

.resources{
    width: 100%;
    height: 100%;
    min-width: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resources .images{
    width: 85%;
    height: 536px;
    border-radius: 18px;
}
.resources .images .list-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-image .first-image{
    width: 50%;
    height: 100%;
    padding-right: 20px;
}
.first-image .image{
    width: 100%;
    height: 100%;
}
.first-image .image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.list-image .video-motel{
    width: 50%;
    height: 100%;
    padding-right: 10px;
}
.list-image .video-motel video{
    width: 100%;
    height: 100%;
}
.video-motel video source{
    width: 100%;
    height: 100%;
}
.list-image .image-other{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.image-other .list-image-other{
    min-width: 100%;
    width: auto;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.list-image-other .list{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y:hidden;
    gap: 20px;
    scroll-behavior: smooth;
}


.list.image {
    width: 300px;
    height: 100%;
    margin-right: 30px;
    border-radius: 18px;

}
.list .image img{
    width: 330px;
    height: 98%;
    border-radius: 18px;
    object-fit: cover;
}
.image-other .last-image{
    width: 100%;
    height: 55%;
    padding-top: 10px;
}
.last-image .image{
    width: 100%;
    height: 100%;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.image-other .video-motel{
    width: 100%;
    height: 55%;
    padding-top: 10px;
}
.video-motel video{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
    border-radius: 18px;
}

