
.info-area{
    width: 100%;
    height: 500px;
    position: relative;
    top: -25px;
    padding: 20px;
    padding-top: 30px;
    background-color: #fff;
    z-index: 20;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: inset 0.5px 0.5px 1px rgb(104, 103, 103),
                inset -0.5px 0.5px 1px rgb(104, 103, 103);
    box-sizing: border-box;
}

.info-area ::after{
    position: absolute;
    top: 10px;
    left: 175px;
    content: "";
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: #707070;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.info-area .address{
    width: 100%;
    min-height:60px;
    height: auto;
    max-height: 90px;
    display: flex;
    flex-direction: column;
}
 
.address .addr{
    display: flex;
}
.info-area .address .addr i {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: rgb(36, 165, 204);
}
.info-area .address  .addr h5{
    width: 100%;
    height: auto;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: roboto,sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.info-area .address  p,
.info-area .description p
{
    padding: 5px 0;
    font-size: 14px; 
    font-family: roboto,sans-serif;
    color: #707070;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.info-area .address  p{
    padding: 0;
    font-size: 17px; 

}
.address  p span{
    margin-left: 50px;
    font-size: 15px;
}
.info-area .description, 
.info-area .convenient{
    margin-top: 2px;
    padding-top: 5px;
    width: 100%;
    min-height: 100px;
    height: auto;
    max-height: 130px;
}
.info-area .description h5, 
.info-area .convenient h5{
    width: 100%;
    font-family: roboto,sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}
.convenient .convenient-icon-area{
    width: 100%;
    height: 140px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.convenient-icon-area .item-convenient{
    width: 60px;
    height: 60px;
    margin: 5px 10px;
    padding-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-convenient .icon{
    width: 60%;
    height: 70%; 
    padding: 5px;
    border-radius: 5px;
    box-sizing: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(208, 210, 211, 0.323);
}
.item-convenient .icon i{
    font-size: 25px;
    color:  rgba(208, 210, 211, 0.323);


}
.item-convenient p{
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: roboto,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgba(208, 210, 211, 0.4);

}
a{
    text-decoration: none;
    padding-top: 5px;
}
.see-more{
    position: absolute;
    right: 20px;
    top:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: rgb(53, 184, 223);
    background-color: transparent;                                                                                                                                                                                      

} 
.see-more i{
    font-size: 30px;
}
.see-more .fa-angles-right{
    font-size: 25px;
}

.price-sdt {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-sdt h5{
    font-size: 20px;
    margin-top: 10px;
    font-family: roboto,sans-serif;

}
.price-sdt h5 span{
    margin-left: 20px;
    color: rgb(230, 70, 70);
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}


.price-sdt h5 span  i{
    font-family: none;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.custom-popup{
    width: 100px;
    color: rgb(0, 71, 193);
}
.draw-route {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.draw-route  button{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 12px;
    background-color: rgb(53, 184, 223);
    color: #fff;
    font-size: 15px;
}
.draw-route  button i{
    margin-left: 10px;
    font-size: 20px;
}

.draw-route span{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: gray;
}