header{
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgba(85, 83, 83, 0.2) ;
    z-index: 20;
    box-sizing: border-box;
    
}
button{
    cursor: pointer;
}

.logo{
    min-width: 150px;
}
.logo h2{
    font-family: "Nunito",sans-serif;
    font-size: 35px;
    color: #565555;
}
.search-area{
    display: flex;
    width: 500px;
}
.search-area .search{
    position: relative;
    width: 100%;
    height:40px;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 7px 10px -3px rgba(0, 0, 0, 0.425);
    
}
.search input{
    width: 100%;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius:20px ;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);

}
.search input:focus{
    outline: none;
}
.search-icon{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.search-icon i{
    font-size: 19px;
    z-index: 10;
}


.area-login{
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-login a{
    width: 100%;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    box-shadow: 5px 7px 10px -3px rgba(0, 0, 0, 0.425);
    background-color: rgb(23, 177, 220)
}
.area-login a i{
    font-size: 15px;
    margin-right: 10px;
}
.area-login a p{
    font-size: 17px;
    font-weight: 600;
    font-family: roboto,sans-serif;

}
.filter-area{
    position: absolute;
    min-width: 100px;
    top:100px;
    left: 5px;
    border-radius: 3px;
    padding: 10px;
    padding-right: 30px;
    width: fit-content;
    background-color: #ffffffee;
    z-index: 100;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.881);
}

.filter-area .filter{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #434647;
}
.active > .filter{
    display: none;
}
.filter i{
    font-size: 19px;
    margin-right: 10px;
    color: #697376;
}
.filter-area .fa-angles-right,
.filter-area .fa-angles-left{
    position: absolute;
    right: -15px;
    top: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #434647;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 15;
    color: #368297;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.881);

}

.filter-area .filter-box{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.active .filter-box{
    display: flex;
}
.filter-box .filter{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.filter label{
    width: 100px;
    font-size: 18px;
    margin-right: 10px;
}
.filter input[type="checkbox"]{
    margin-left: 15px;   
}
.filter input[type="checkbox"]:checked{
    background-color: aqua;
}
.s-v select{
    width: 150px;
    height: 25px;
    font-size: 15px;
    padding: 0px 10px;
}
.s-v select option{
    border-radius: none;
}
.price .control,
.distance .control{
    position: relative;
    display: flex;
}
.control input[type="range"]{
    width: 150px;
}

#priceValue,
#distanceValue{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 14px;
}
.filter-box .btn-filter{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter-box .btn-filter button{
    min-width: 100px;
    width: fit-content;
    height: 25px;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #368297;
    color: #fff;
    font-weight: 600;
    box-shadow: 3px 5px 7px -4px #707070;
}

#map {
    width: 100%;
    height: 825px;
    z-index: 1;
}

