header{
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: rgba(85, 83, 83, 0.2) ;
    z-index: 20;
    box-sizing: border-box;
    
}
button{
    cursor: pointer;
}

.logo{
    min-width: 150px;
}
.logo h2{
    font-family: "Nunito",sans-serif;
    font-size: 35px;
    color: #565555;
}
.search-area{
    display: flex;
    width: 500px;
}
.search-area .search{
    position: relative;
    width: 100%;
    height:40px;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 7px 10px -3px rgba(0, 0, 0, 0.425);
    
}
.search input{
    width: 100%;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius:20px ;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);

}
.search input:focus{
    outline: none;
}
.search-icon{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.search-icon i{
    font-size: 19px;
    z-index: 10;
}


.area-login{
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-login a{
    width: 100%;
    height: 40px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    box-shadow: 5px 7px 10px -3px rgba(0, 0, 0, 0.425);
    background-color: rgb(23, 177, 220)
}
.area-login a i{
    font-size: 15px;
    margin-right: 10px;
}
.area-login a p{
    font-size: 17px;
    font-weight: 600;
    font-family: roboto,sans-serif;

}
.filter-area{
    position: absolute;
    min-width: 100px;
    top:100px;
    left: 5px;
    border-radius: 3px;
    padding: 10px;
    padding-right: 30px;
    width: fit-content;
    background-color: #ffffffee;
    z-index: 100;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.881);
}

.filter-area .filter{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #434647;
}
.active > .filter{
    display: none;
}
.filter i{
    font-size: 19px;
    margin-right: 10px;
    color: #697376;
}
.filter-area .fa-angles-right,
.filter-area .fa-angles-left{
    position: absolute;
    right: -15px;
    top: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #434647;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 15;
    color: #368297;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.881);

}

.filter-area .filter-box{
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.active .filter-box{
    display: flex;
}
.filter-box .filter{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.filter label{
    width: 100px;
    font-size: 18px;
    margin-right: 10px;
}
.filter input[type="checkbox"]{
    margin-left: 15px;   
}
.filter input[type="checkbox"]:checked{
    background-color: aqua;
}
.s-v select{
    width: 150px;
    height: 25px;
    font-size: 15px;
    padding: 0px 10px;
}
.s-v select option{
    border-radius: none;
}
.price .control,
.distance .control{
    position: relative;
    display: flex;
}
.control input[type="range"]{
    width: 150px;
}

#priceValue,
#distanceValue{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 14px;
}
.filter-box .btn-filter{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.filter-box .btn-filter button{
    min-width: 100px;
    width: fit-content;
    height: 25px;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: #368297;
    color: #fff;
    font-weight: 600;
    box-shadow: 3px 5px 7px -4px #707070;
}

#map {
    width: 100%;
    height: 825px;
    z-index: 1;
}

.info-motel {
    position: absolute;
    top: 0;
    left: -470px;
    width: 450px;
    height: 825px;
    display: block;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    transition: 0.2s all ease-in-out;
    box-shadow: 2px 2px 13px -2px rgb(78, 77, 77);
    overflow-y: scroll;
    overflow: hidden;
}

.info-motel .images {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.images .img-main {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.images .img-main img {
    width: 100%;
    height: 100%;
    padding: 3px;
    filter: brightness(80%);
    object-fit: cover;
}

.img-secondary-area {
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: 390px;
    height: 90px;
    margin-top: 10px;
    overflow: hidden;
}
 
.img-secondarys {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 80px;
    display: flex;
}

.img-secondarys .img-secondary {
    width: 118px;
    height: 100%;
    margin: 0 5px;
    border: 2px solid #fff;
    border-radius: 8px;
    z-index: 100;
    cursor: pointer;
}

.img-secondary img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    filter: brightness(120%);
    object-fit: cover;
}

.button-area {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 450px;
    height: 80px;
    z-index: 1;
}

.button-area .prev {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    z-index: 10;
}

.button-area .next {
    position: absolute;
    top: 50%;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    z-index: 10;
}

.button-area i {
    color: #fff;
}

.info-area{
    width: 100%;
    height: 500px;
    position: relative;
    top: -25px;
    padding: 20px;
    padding-top: 30px;
    background-color: #fff;
    z-index: 20;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: inset 0.5px 0.5px 1px rgb(104, 103, 103),
                inset -0.5px 0.5px 1px rgb(104, 103, 103);
    box-sizing: border-box;
}

.info-area ::after{
    position: absolute;
    top: 10px;
    left: 175px;
    content: "";
    width: 100px;
    height: 5px;
    border-radius: 8px;
    background-color: #707070;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.info-area .address{
    width: 100%;
    min-height:60px;
    height: auto;
    max-height: 90px;
    display: flex;
    flex-direction: column;
}
 
.address .addr{
    display: flex;
}
.info-area .address .addr i {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: rgb(36, 165, 204);
}
.info-area .address  .addr h5{
    width: 100%;
    height: auto;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: roboto,sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}

.info-area .address  p,
.info-area .description p
{
    padding: 5px 0;
    font-size: 14px; 
    font-family: roboto,sans-serif;
    color: #707070;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.info-area .address  p{
    padding: 0;
    font-size: 17px; 

}
.address  p span{
    margin-left: 50px;
    font-size: 15px;
}
.info-area .description, 
.info-area .convenient{
    margin-top: 2px;
    padding-top: 5px;
    width: 100%;
    min-height: 100px;
    height: auto;
    max-height: 130px;
}
.info-area .description h5, 
.info-area .convenient h5{
    width: 100%;
    font-family: roboto,sans-serif;
    font-size: 20px;
    text-transform: capitalize;
}
.convenient .convenient-icon-area{
    width: 100%;
    height: 140px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.convenient-icon-area .item-convenient{
    width: 60px;
    height: 60px;
    margin: 5px 10px;
    padding-top: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-convenient .icon{
    width: 60%;
    height: 70%; 
    padding: 5px;
    border-radius: 5px;
    box-sizing: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(208, 210, 211, 0.323);
}
.item-convenient .icon i{
    font-size: 25px;
    color:  rgba(208, 210, 211, 0.323);


}
.item-convenient p{
    width: 100%;
    height: 30%;
    text-align: center;
    font-family: roboto,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    color: rgba(208, 210, 211, 0.4);

}
a{
    text-decoration: none;
    padding-top: 5px;
}
.see-more{
    position: absolute;
    right: 20px;
    top:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: rgb(53, 184, 223);
    background-color: transparent;                                                                                                                                                                                      

} 
.see-more i{
    font-size: 30px;
}
.see-more .fa-angles-right{
    font-size: 25px;
}

.price-sdt {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-sdt h5{
    font-size: 20px;
    margin-top: 10px;
    font-family: roboto,sans-serif;

}
.price-sdt h5 span{
    margin-left: 20px;
    color: rgb(230, 70, 70);
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}


.price-sdt h5 span  i{
    font-family: none;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.custom-popup{
    width: 100px;
    color: rgb(0, 71, 193);
}
.draw-route {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.draw-route  button{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 12px;
    background-color: rgb(53, 184, 223);
    color: #fff;
    font-size: 15px;
}
.draw-route  button i{
    margin-left: 10px;
    font-size: 20px;
}

.draw-route span{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: gray;
}